node_modules/
flutter_app/.dart_tool/
flutter_app/.flutter-plugins*
flutter_app/build/
flutter_app/android/.gradle/
flutter_app/ios/.symlinks/
flutter_app/.packages
flutter_app/pubspec.lock
api/storage/data/*.json
*.apk
*.zip
*.log
.tmp/
